@tailwind base;
@tailwind components;
@tailwind utilities;

.simplebar-scrollbar::before {
  background-color: rgba(0,0,0,0.3);
  width: 4px;
  border-radius: 4px;
}

.simplebar-track {
  background: transparent;
}

.simplebar-track.simplebar-vertical {
  top: 46px;
}